<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>动态渲染页面</title>
</head>
<body>
  <!--动态的下拉框数据-->
  <select name="" id="">
    <option value="">数据1</option>
    <option value="">数据2</option>
    <option value="">数据3</option>
    <option value="">数据4</option>
  </select>
  <!--动态的页面列表数据-->
  <!--怎样在页面进入的时候刷新页面-->
  <!--表单提交的数据-->
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script>
    window.onload = function () {
      console.log('页面加载的时候调用')
    }
    function getSelectOption() {
      $.ajax({

      })
    }
  </script>
</body>
</html>
