<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!--<link type="text/css" rel="stylesheet" href="css/clear.css">&lt;!&ndash;清除默认样式&ndash;&gt;-->
  <link type="text/css" rel="stylesheet" href="fullPage.css">
  <script src="fullPage.js"></script>
</head>
<body>
<div id="wrap">
  <section class="page page1">
    <p>1</p>
  </section>
  <section class="page page2">
    <p>2</p>
  </section>
  <section class="page page3">
    <p>3</p>
  </section>
  <section class="page page4">
    <p>4</p>
  </section>
</div>
<ul class="menu"></ul>
</body>
</html>
